<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodApp.billdetail.home.title">Billdetails</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-billdetail" [routerLink]="['/billdetail/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="foodApp.billdetail.home.createLabel">
            Create a new Billdetail
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="billdetails?.length === 0">
        <span jhiTranslate="foodApp.billdetail.home.notFound">No billdetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="billdetails && billdetails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.billdetail.billdetailid">Billdetailid</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.billdetail.foodid">Foodid</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let billdetail of billdetails ;trackBy: trackId">
                    <td><a [routerLink]="['/billdetail', billdetail.id, 'view']">{{ billdetail.id }}</a></td>
                    <td>{{ billdetail.billdetailid }}</td>
                    <td>{{ billdetail.foodid }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/billdetail', billdetail.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/billdetail', billdetail.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(billdetail)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
