<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billdetail">
            <h2><span jhiTranslate="foodApp.billdetail.detail.title">Billdetail</span> {{ billdetail.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodApp.billdetail.billdetailid">Billdetailid</span></dt>
                <dd>
                    <span>{{ billdetail.billdetailid }}</span>
                </dd>
                <dt><span jhiTranslate="foodApp.billdetail.foodid">Foodid</span></dt>
                <dd>
                    <span>{{ billdetail.foodid }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/billdetail', billdetail.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
