<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodApp.food.home.title">Foods</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-food" [routerLink]="['/food/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="foodApp.food.home.createLabel">
            Create a new Food
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="foods?.length === 0">
        <span jhiTranslate="foodApp.food.home.notFound">No foods found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="foods && foods.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.food.foodid">Foodid</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.food.categoryid">Categoryid</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.food.foodname">Foodname</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.food.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.food.price">Price</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.food.billdetail">Billdetail</span></th>
                    <th scope="col" ><span jhiTranslate="foodApp.food.category">Category</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let food of foods ;trackBy: trackId">
                    <td><a [routerLink]="['/food', food.id, 'view']">{{ food.id }}</a></td>
                    <td>{{ food.foodid }}</td>
                    <td>{{ food.categoryid }}</td>
                    <td>{{ food.foodname }}</td>
                    <td>{{ food.description }}</td>
                    <td>{{ food.price }}</td>
                    <td>
                        <div *ngIf="food.billdetail">
                            <a [routerLink]="['/billdetail', food.billdetail?.id, 'view']" >{{ food.billdetail?.billdetailid }}</a>
                        </div>
                    </td>
                    <td>
                        <span *ngFor="let category of food.categories; let last = last">
                            <a class="form-control-static" [routerLink]="['/category', category?.id, 'view']">{{ category.categoryid }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/food', food.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/food', food.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(food)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
