<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-food-heading" jhiTranslate="foodApp.food.home.createOrEditLabel">Create or edit a Food</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.food.foodid" for="field_foodid">Foodid</label>
                    <input type="number" class="form-control" name="foodid" id="field_foodid"
                           formControlName="foodid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.food.categoryid" for="field_categoryid">Categoryid</label>
                    <input type="number" class="form-control" name="categoryid" id="field_categoryid"
                           formControlName="categoryid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.food.foodname" for="field_foodname">Foodname</label>
                    <input type="text" class="form-control" name="foodname" id="field_foodname"
                           formControlName="foodname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.food.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.food.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.food.billdetail" for="field_billdetail">Billdetail</label>
                    <select class="form-control" id="field_billdetail" name="billdetail" formControlName="billdetail">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="billdetailOption.id === editForm.get('billdetail')!.value?.id ? editForm.get('billdetail')!.value : billdetailOption" *ngFor="let billdetailOption of billdetails; trackBy: trackById">{{ billdetailOption.billdetailid }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="foodApp.food.category" for="field_categories">Category</label>
                    <select class="form-control" id="field_categories" multiple name="categories" formControlName="categories">
                        <option [ngValue]="getSelected(editForm.get('categories')!.value, categoryOption)" *ngFor="let categoryOption of categories; trackBy: trackById">{{ categoryOption.categoryid }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
