<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bill-heading" jhiTranslate="foodApp.bill.home.createOrEditLabel">Create or edit a Bill</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.bill.billid" for="field_billid">Billid</label>
                    <input type="number" class="form-control" name="billid" id="field_billid"
                           formControlName="billid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.bill.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.bill.totalprice" for="field_totalprice">Totalprice</label>
                    <input type="number" class="form-control" name="totalprice" id="field_totalprice"
                           formControlName="totalprice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.bill.couponid" for="field_couponid">Couponid</label>
                    <input type="number" class="form-control" name="couponid" id="field_couponid"
                           formControlName="couponid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.bill.shipping" for="field_shipping">Shipping</label>
                    <input type="checkbox" class="form-control" name="shipping" id="field_shipping"
                           formControlName="shipping"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
