<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-coupon-heading" jhiTranslate="foodApp.coupon.home.createOrEditLabel">Create or edit a Coupon</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.coupon.couponid" for="field_couponid">Couponid</label>
                    <input type="number" class="form-control" name="couponid" id="field_couponid"
                           formControlName="couponid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.coupon.couponname" for="field_couponname">Couponname</label>
                    <input type="text" class="form-control" name="couponname" id="field_couponname"
                           formControlName="couponname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.coupon.coupon" for="field_coupon">Coupon</label>
                    <input type="number" class="form-control" name="coupon" id="field_coupon"
                           formControlName="coupon"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.coupon.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodApp.coupon.bill" for="field_bill">Bill</label>
                    <select class="form-control" id="field_bill" name="bill" formControlName="bill">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="billOption.id === editForm.get('bill')!.value?.id ? editForm.get('bill')!.value : billOption" *ngFor="let billOption of bills; trackBy: trackById">{{ billOption.billid }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
